table{
  border: 2px solid black;
  text-align: center;
  border-collapse: collapse;
  font-family: sans-serif;
  /* I need this. */
  border-spacing: 15px;
}
/* table, th, td{
  border-collapse: collapse;
  padding: 5px;
  font-family: sans-serif;
} */
th, td{
  /* text-align: center; */
  font-size: 15px;
  /* I need it. */
  border-spacing: 15px;
}
th{
  background-color: #fc8a8a;
  /* background-color: salmon; */
  color: white;
}
tr:nth-child(odd){
  /* background-color: burlywood; */
  background-color: #ffd4b3;
}
tr:nth-child(even){
  background-color: #ffff;
}
/* img{
  width: 25px;
  width: 30px;
}  */
